:root{
	--background: #6d7993;
	--main: white;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: var(--background);
	display: flex;
	justify-content: center;
}

textarea {
    resize: none;
    overflow-y: scroll;
    height: 300px;
	width: 100%;
}

main {
	/* radial-gradient(ellipse at bottom left, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25), rgba(42, 60, 87, 0.4)), linear-gradient(135deg, #670d10, #092756); */
	height: 100%;
	width: 85%;
	line-height: 1.5em;
	color: var(--main);
	/* margin: 80px 4em 0; */
}

h1 {
	max-width: 49rem;	  
	line-height: 1em;
	font-weight: 700;
	font-size: 3.5em;
	margin: 0.25em auto;
	font-size: 2.6em;
	margin: 1.4em auto;
}

h2 {
	max-width: 49rem;
	margin: 1.4em auto;
}

p {
	max-width: 49rem;
	line-height: 1.5em;
	margin: 1.4em auto;	 
	font-size: 1em;
	font-weight: 300;
}

form{
	width: 100%;
	margin-left: 50px;
	margin-right: 50px;
}

label{
	font-size: large;
	font-weight: bold;
	background: transparent;
	outline: none;
	color: var(--main);
}
	
svg {
	position: absolute;
	left: 0;
	top: 0;
	fill: none;
	stroke: #fff;
	stroke-dasharray: 150 480;
	stroke-dashoffset: 150;
	transition: 1s ease-in-out;
}

input[type=radio]:hover{
	cursor: pointer;
}	

input[type="checkbox"]{
	cursor: pointer;
}

select:required:invalid {
	color: gray;
}
option[value=""][disabled] {
	display: none;
}
option {
	color: black;
}

.space{
	display: flex;
	width: 100%;
	margin: auto;
	margin-top: 3%;
}

#input_space{
	display: flex;
	justify-content: center;
	border: 2px solid var(--main);
	width: 100%;
	margin: auto;
	border-radius: 50px;
	height: 518px;
}

#output_space{
	background: var(--main);
	border: 2px solid var(--main);
	width: 100%;
	border-radius: 50px;
	height: auto;
	margin-bottom: 40px;
}

#output {
	overflow-y: auto;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px
}

.name_list {
	vertical-align: top;
	cursor: text;
	font-size: large;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: var(--background);
	border-radius: 20px;
}

.shuffle {
	margin-left: 25px;
	margin-right: 25px;
	vertical-align: middle;
	margin-top: 200px;
}


 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
	transition: all .5s ease;
	background-color: transparent;
	color: var(--main);
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	font-size: larger;
	font-weight: bold;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
	background-color: var(--main);
	color: var(--background);
  }
  
  /* Style the collapsible content. Note: hidden by default */
.descript {
	cursor: text;
	padding: 0 18px;
	display: none;
	overflow: hidden;
	size: large;
	font-family: Arial;
}

#instruction_title{
	cursor: text;
	margin-top: 20px;
	font-size: larger;
	font-family: arial;
}

#instructions {
	cursor: text;
	font-size: medium;
	font-family: arial;
	margin-left: 10%;
}

a {
	color: rgb(165, 200, 224);
}