	.btn {
	  line-height: 50px;
	  height: 50px;
	  text-align: center;
	  width: 250px;
	  cursor: pointer;
	  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
	}
	
	.btn-effect {
	  color: #FFF;
	  transition: all 0.5s;
	  position: relative;
	}
	.btn-effect::before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 1;
	  background-color: rgba(255,255,255,0.1);
	  transition: all 0.3s;
	}
	.btn-effect:hover::before {
	  opacity: 0 ;
	  transform: scale(0.5,0.5);
	}
	.btn-effect::after {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 1;
	  opacity: 0;
	  transition: all 0.3s;
	  border: 1px solid rgba(255,255,255,0.5);
	  transform: scale(1.2,1.2);
	}
	.btn-effect:hover::after {
	  opacity: 1;
	  transform: scale(1,1);
	}

		
	.btn-moveBorderBkg {    
	  position: relative; 
	  padding: 1.4rem 4.2rem;
	  padding-right: 3.1rem;
	  font-size: 1.4rem;
	  color: var(--inv);
	  letter-spacing: 1.1rem;
	  letter-spacing: 0.5rem;
	  text-transform: uppercase;
	  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);  
	  cursor: pointer;
	  user-select: none;
	}

	.btn-moveBorderBkg:before, .btn:after {
	  content: '';
	  position: absolute; 
	  transition: inherit;
	  z-index: -1;
	}

	.btn-moveBorderBkg:hover {
	  color: var(--def);
	  transition-delay: .5s;
	}

	.btn-moveBorderBkg:hover:before {
	  transition-delay: 0s;
	}

	.btn-moveBorderBkg:hover:after {
	  background: var(--inv);
	  transition-delay: .35s;
	}

	/* From Top */

	.from-top:before, 
	.from-top:after {
	  left: 0;
	  height: 0;
	  width: 100%;
	}

	.from-top:before {
	  bottom: 0;  
	  border: 1px solid var(--inv);
	  border-top: 0;
	  border-bottom: 0;
	}

	.from-top:after {
	  top: 0;
	  height: 0;
	}

	.from-top:hover:before,
	.from-top:hover:after {
	  height: 100%;
	}

	/* From Left */

	.from-left:before, 
	.from-left:after {
	  top: 0;
	  width: 0;
	  height: 100%;
	}

	.from-left:before {
	  right: 0;
	  border: 1px solid var(--inv);
	  border-left: 0;
	  border-right: 0;  
	}

	.from-left:after {
	  left: 0;
	}

	.from-left:hover:before,
	.from-left:hover:after {
	  width: 100%;
	}

	/* From Right */

	.from-right:before, 
	.from-right:after {
	  top: 0;
	  width: 0;
	  height: 100%;
	}

	.from-right:before {
	  left: 0;
	  border: 1px solid var(--inv);
	  border-left: 0;
	  border-right: 0;  
	}

	.from-right:after {
	  right: 0;
	}

	.from-right:hover:before,
	.from-right:hover:after {
	  width: 100%;
	}

	/* From center */

	.from-center:before {
	  top: 0;
	  left: 50%;
	  height: 100%;
	  width: 0;
	  border: 1px solid var(--inv);
	  border-left: 0;
	  border-right: 0;
	}

	.from-center:after {
	  bottom: 0;
	  left: 0;
	  height: 0;
	  width: 100%;
	  background: var(--inv);
	}

	.from-center:hover:before {
	  left: 0;
	  width: 100%;
	}

	.from-center:hover:after {
	  top: 0;
	  height: 100%;
	}

	/* From Bottom */

	.from-bottom:before, 
	.from-bottom:after {
	  left: 0;
	  height: 0;
	  width: 100%;
	}

	.from-bottom:before {
	  top: 0; 
	  border: 1px solid var(--inv);
	  border-top: 0;
	  border-bottom: 0;
	}

	.from-bottom:after {
	  bottom: 0;
	  height: 0;
	}

	.from-bottom:hover:before,
	.from-bottom:hover:after {
	  height: 100%;
	}



	.next-button, .back-button {
	  border-radius: 4px;
	  background-color: #5ca1e1;
	  background: linear-gradient(to right,#07a, #0aa);
	  border: none;
	  color: #fff;
	  text-align: center;
	  font-size: 24px;
	  padding: 8px;
	  width: 150px;
	  transition: all 0.5s;
	  cursor: pointer;
	  margin: 18px;
	  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
	}

	.next-button, .back-button{
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}

	.back-button:after {
	  content: '«';
	  position: absolute;
	  opacity: 0;  
	  top: 7px;
	  left: -20px;
	  transition: 0.5s;
	}

	.back-button:hover{
	  padding-right: 8px;
	  padding-left:24px;
	}

	.back-button:hover:after {
	  opacity: 1;
	  left: 10px;
	}

	.next-button:after {
	  content: '»';
	  position: absolute;
	  opacity: 0;  
	  top: 7px;
	  right: -20px;
	  transition: 0.5s;
	}

	.next-button:hover{
	  padding-right: 24px;
	  padding-left:8px;
	}

	.next-button:hover:after{
	  opacity: 1;
	  right: 10px;
	}
	
	.btn-custom-1 {
	  width: 180px;
	  height: 60px;
	  cursor: pointer;
	  background: transparent;
	  border: 1px solid #91C9FF;
	  outline: none;
	  transition: 1s ease-in-out;
	}

	.btn-custom-1:hover {
	  transition: 1s ease-in-out;
	  background: #4F95DA;	  
	}

	.btn-custom-1:hover svg {
	  stroke-dashoffset: -480;
	}

	.btn-custom-1 span {
	  color: green;
	  font-size: 18px;
	  font-weight: 100;
	}
	
	.btn-custom-1:focus {
	  outline: none;
	  box-shadow: none;
	}

	.btn-custom-2 {
		transition: all .5s ease;
		color: #fff;
		border: 1px solid white;
		font-family:'Montserrat', sans-serif;
		text-transform: uppercase;
		text-align: center;
		line-height: 1;
		font-size: 17px;
		background-color : transparent;
		padding: 1px;
		outline: none;
		border-radius: 4px;
	}
	.btn-custom-2:hover {
		color: #001F3F;
		background-color: #fff;
	}
	
	